.answer-form {
  padding: 5%;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #D6DBDF;
}

.answer-form h2 {
  margin-bottom: 10px;
}

.answer-form p {
  margin-bottom: 20px;
}

.answer-form form {
  display: flex;
  flex-direction: column;
}

.answer-form div {
  margin-bottom: 20px;
}

.answer-form label {
  display: flex;
  align-items: center; /* Align label and input on the same line */
  font-weight: bold;
  margin-bottom: 5px;
}

.answer-form input[type="text"],
.answer-form input[type="email"],
.answer-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

/* For radio and checkbox, use flexbox to align input and label on the same line */
.answer-form input[type="radio"],
.answer-form input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
}

.answer-form button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.answer-form button[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.answer-form span {
  color: red;
  margin-right: 5px;
}

.sameline {
  display: flex;
  flex-direction: row;
  align-items: center;
}